{% extends 'base.html' %}
{% load static %}

{% block title %}Landing page{% endblock title %}

{% block css %}
    {{ block.super }}
    <style media="screen">
        .item-list {
            color: #39CCCC;
            font-weight: bold;
        }
        .block h1 {
            font-size: 48pt;
        }
    </style>
{% endblock css %}


{% block content %}
    {% for block in block_list %}
        <div class="block">
            <h1>{{ block.name }}</h1>
            <div class="item-list">
                {% for item in block.content %}
                    {{ item }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
