{% extends 'base.html' %}
{% load static %}
{% load mark_tags %}

{% block title %}Landing page{% endblock title %}

{% block css %}
    {{ block.super }}
    <style media="screen">
        .block {
            padding-top: 64px;
            padding-bottom: 16px;
        }
        .block h1 {
            font-size: 48pt;
        }
    </style>
{% endblock css %}


{% block content %}
    {% include '_navbar.html' with class_list='sticky-top navbar-expand-lg navbar-dark bg-dark' %}

    <div class="block-list">
        {% for block in block_list %}
            <div class="block" id="{{ block.html_id }}">
                <div class="row">
                    <div class="col-sm text-center">
                        {{ block.content|mark2|safe }}
                    </div>
                </div>

                {% include '_skill.html' with item_list=block.skill_list.all %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
