{% extends 'base.html' %}
{% load static %}
{% load mark_tags %}

{% block title %}Landing page{% endblock title %}

{% block content %}
    {% include '_navbar.html' %}

    <div class="block-list">
        {% for block in block_list %}
            <div class="block" id="{{ block.html_id }}">
                <div class="row">
                    <div class="intro-text col-sm text-center">
                        {{ block.content|mark2|safe }}
                    </div>
                </div>
                {% include '_skill.html' with item_list=block.skill_list.all %}
                {% include '_team.html' with item_list=block.team_list.all %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block css %}
    {{ block.super }}
    {% include 'main.css' %}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {% include 'main.js' %}
{% endblock js %}
